.movie-container {
  margin: 3%;
  color: white;
}
h1 {
  padding: 1%;
}

.movie-poster {
  height: 50%;
  width: 50%;
  border-radius: 0.3em;
}
.container-body {
  padding: 1%;
}

.movie-title {
  color: green;
}
