.PopoverButton {
  width: 5em;
  background-color: #28a745;
  color: #222;
}

.PopoverButton:hover {
  background-color: #222;
  color: #28a745;
}

.PopoverHeader {
  background-color: #28a745;
}

.btnEnglish {
  border-color: #222;
  margin-right: 0.6em;
}
.btnPolish {
  border-color: #222;
}

.btnEnglish:hover {
  background-color: #222 !important;
  color: #28a745;
}
.btnPolish:hover {
  background-color: #222 !important;
  color: #28a745;
}
.popover {
  box-shadow: 3px -2px 4px #136526;
}
