.PopoverButton:hover {
  background-color: #222 !important;
  color: #28a745 !important;
}

.btnEnglish:hover {
  background-color: #222 !important;
  color: #28a745;
}

.btnPolish:hover {
  background-color: #222 !important;
  color: #28a745;
}

.btnExit:hover {
  color: white;
  cursor: pointer;
}
