/*file with hover and media styles*/
.PopoverButton:hover {
  background-color: #222 !important;
  color: #28a745 !important;
}

.btnEnglish:hover {
  background-color: #222 !important;
  color: #28a745;
}

.btnPolish:hover {
  background-color: #222 !important;
  color: #28a745;
}

.btnExit:hover {
  color: white;
  cursor: pointer;
}

.desktopHide {
  display: none !important;
}

@media screen and (max-width: 600px) {
  footer img {
    width: 8% !important;
  }

  footer {
    font-size: 1em;
  }

  .search-main {
    margin-top: 15% !important;
    width: 80% !important;
    margin-left: 0% !important;
    margin-right: 0% !important;
    display: block !important;
    float: left;
  }

  .mobileHide {
    display: none !important;
  }

  .mobileShow {
    display: block !important;
  }

  .imgExit {
    margin-top: 13% !important;
    float: left;
    display: block;
    width: 12%;
  }
}
